body {
  background-color: white;
  color: #222;
  font-family: "Open Sans", sans-serif;
  min-height: 1000px;
}

a {
  text-decoration: none;
  color: blue;
}

nav {
  width: 90%;
  margin: 0 auto;
  height: 100px;
}

nav #brand {
  background-image: url(/img/icon.png);
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  float: left;
}

nav h1 {
  display: inline;
  margin-top: 30px;
  font-size: 2em;
  font-weight: normal;
  float: left;
}

input[type='text'] {
  font-size: 1.25em;
  width: 55%;
}

button {
  font-size: 1.25em;
  padding: 0.25em;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.tweets {
  margin-top: 2em;
}

.screen-name {
  font-weight: bold;
}

.popularity {
  font-style: italic;
}
